.SendBar {
  display: flex;
  padding-left: 30%;
  width: inherit;
  background-color: white !important;
}

.SendBar > form {
	display: flex;
  justify-content: center;
  margin-top: 1%;
  gap: 1%;
  align-items: center;
  background-color: white !important;
}

.SendBar > form > input {
  padding: 3%;
  border-radius: 12px;
  border: transparent;
  width: 300px;
  background-color: lightgray;
  /* box-shadow: 0 8px 8px rgba(0, 0, 0, 0.55); */
}

.SendBar > form > button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 15%;
  font-weight: bold;
  width: 7%;
  border-radius: 12px;
  padding-left: 1%;
}

.SendBar > form > button:hover {
  color: orangered;
  transition: .5s;
  transform: scale(1.1);
}
