.MessagesField {
  height: 100%;
  background-color: lightgrey;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: transparent transparent; /* For Firefox */
}

.MessagesField::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
  background-color: transparent; /* Background color of the scrollbar */
}

.MessagesField::-webkit-scrollbar-thumb {
  background-color: transparent; /* Color of the scrollbar thumb */
}