html, body, #root {
  font-family: sans-serif;
  margin: 0;
  height: 100%;
  text-align: center;
  color: #333333;
  font-size: 16px;
}

a:hover{
  color: orangered;
  transition: .3s;
}

button:hover{
  cursor: pointer;
}