.message {
  height: auto;
  min-height: 40px;
  max-width: 120px;
  background-color: #43a047;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding: .5%;
  overflow-wrap: break-word;
  word-break: break-word;
  margin: 2%;
}

.message-me{
  background-color: cornflowerblue;
  text-align: left;
  justify-content: flex-start;
  border-radius: 0px 5px 5px 5px;
}

.message-me > .time {
  font-size: 11px;
  font-style: italic;
  justify-content: flex-start;
  margin-left: 70%;
  padding-top: 1%;
}

.message-other {
  text-align: right;
  justify-content: flex-end;
  margin-left: 85%;
  border-radius: 5px 0px 5px 5px;
}

.message-other > .time {
  font-size: 11px;
  font-style: italic;
  justify-content: flex-start;
  margin-right: 70%;
  padding-top: 1%;
}